asgiref==3.4.1
beautify==0.1.4
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==6.3.2
dj-database-url==0.5.0
Django==3.2.11
django-crispy-forms==1.14.0
django-environ==0.8.1
django-heroku==0.3.1
django-tinymce4-lite==1.8.0
gunicorn==20.1.0
idna==3.3
jsmin==3.0.1
Pillow==9.0.0
psycopg2==2.9.3
pytz==2021.3
requests==2.27.1
sqlparse==0.4.2
typing_extensions==4.0.1
urllib3==1.26.8
whitenoise==6.0.0
