{% extends 'main.html' %} {% load static %} {% block content %}
          <!-- ======= Hero Content Starts ======= -->
    <section id="hero" class="hero-container about">
      <div class="hero-overlay"></div>
      <img src="{% static 'images/person-walking.jpg'%}" class="about-header"></img>
      <!-- text content starts -->
      <div class="hero-text-container">
        <p class="fw-lighter blockquotes">
          <span>
            ABOUT</span
          >
        </p>
        <a href="#main-content" class="btn-hero-arrow scrollto">
          <!-- <i class='bx bxs-chevrons-down bx-fade-up' style='color:#ffffff' ></i> -->
          <i class="bi bi-arrow-down-short"></i>
          
        </a>
      </div>
      <!-- text content ends -->
    </section>
    <main id="main-content">
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <header
                class="banner-heading text-center d-flex flex-column align-items-center"
              >
                <!-- Post title-->
                <h2 class="fw-light">About me</h2>
                <hr class="hr-blog mt-2 w-100" />
              </header>
              <article>
                <p>My story began in my college dorm room. I was yearning change and adventure after living in the same small town for 17 years. During college, I began working long hours and saving every dime. After a year out of college, I've visited over ten countries.</p>

                <h6>Why do you love to travel?</h6>
                <p class="mt-2">Traveling is an adventure of the unknown. When you go to another location, you are confronted with all kind of unexpected challenges.</p>
                <p class="mt-2"> 
                That's why I enjoy traveling so much: it challenges me to broaden my horizons and reassess my assumptions. opportunity to learn from those whose life experiences differ from mine As a result, patience, wisdom, perspective, and appreciation have grown in me.</p>

                <h6>Why did you start blogging</h6>
                <p class="mt-2"> I started <a class="fw-bold" href="nav.html">TinyWanderlust</a> to share my travel adventures and experiences with you in the hopes of igniting the wanderlust in all of us.</p>

                <div>
                  <a href="blog.html" class="btn btn-link readmore">Start Here</a>
                </div>
              </article>
            </div>
               <!-- Side widgets-->

            {% include 'blog/sidebar.html' with articles=articles %}
          </div>
        </div>
      
      
      
      </section>
    </main>
{% endblock content %}
