{% extends 'main.html' %}{% load static %}{% load crispy_forms_tags %}
<!---->
{% block content %}
<main id="main-content">
  <section class="main">
    <div class="cover black" data-color="black"></div>
    <div class="container p-5">
      <div class="content">
        <h4 class="motto">TinyWanderlust</h4>
        <div class="subscribe">
          <h5 class="info-text">
            Join the newsletter list for blog post updates.
          </h5>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3">
              <form
                method="POST"
                action="{% url 'about' %}"
                class="form-inline"
                role="form"
              >
                <div class="form-group">{% csrf_token %} {{ form|crispy }}</div>
                <button type="submit" class="btn btn-danger btn-fill">
                  Notify Me
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
