{% load static %}{% load crispy_forms_tags %}
<!---->
{% block content %}

<!-- Page Content -->

<div class="col-lg-8 mx-auto">
  <header>
    <h6 class="text-center h4 fw-bold">Subscribe</h6>
  </header>
  <div class="card bg-dark text-center p-3 border-0">
    <div class="card-body">
      <h6 class="card-text p">
        Subscribe to my newsletter and never miss my latest blog post.
      </h6>
      <div class="">
        {% if form != none %}
        <form method="POST" class="form-card row mt-3 g-2 align-items-center">
          {% csrf_token %}
          <div class="form-group">
            <h6 class="fw-bold label rounded p-2" for="">{{form.as_p}}</label>
          </div>
          <div class="form-group">
            <input
              class="btn mt-2 btn-l btn-dark readmore"
              type="submit"
              name="submit"
              value="Subscribe Now"
            />
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endblock content %} 