{% extends 'main.html' %}{% load static %} {% block content %}
<!-- ======= Hero Content Starts ======= -->
    <section id="hero" class="hero-container blog">
      <div class="hero-overlay"></div>
      <img src="{% static 'images/mountain-green.jpg'%}" class="about-header"></img>
      <!-- text content starts -->
      <div class="hero-text-container">
        <p class="fw-lighter blockquotes">
          <span>
            BLOG</span
          >
        </p>
        <a href="#main-content" class="btn-hero-arrow scrollto">
          <!-- <i class='bx bxs-chevrons-down bx-fade-up' style='color:#ffffff' ></i> -->
          <i class="bi bi-arrow-down-short"></i>
          
        </a>
      </div>
      <!-- text content ends -->
    </section>
    <main id="main-content">
      <section>
        <!-- Page content-->
        <div class="container p-5">
          <div class="row">
            <div class="col-lg-8 ">
              <!-- Blog entries-->
              <article class="featured-post mb-2"> 
                <!-- Featured blog post-->
                <header class="banner-heading d-flex flex-column align-items-center">
                  <h6 class="">Featured Post</h6>
                  <hr class="hr-blog mt-2" />
                </header>
                <div class="card">
                  <a href="{% url 'post' %}">
                    <img class="card-img-top img-fluid" 
                    src="{% static 'images/window-stone-bldg.jpg' %}"
                    alt="..."
                    />
                  </a>
                  <div class="card-body">
                    <div class="small text-muted">January 1, 2021</div>
                    <h2 class="card-title">Turkey</h2>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                    </p>
                    <a class="btn  readmore" href="{% url 'post' %}">Read more →</a>
                  </div>
               </div>
              </article>
              <!-- Nested row for non-featured blog posts-->
              <article class="latest mt-4">
                <div class="row ">
                  <header class="banner-heading d-flex flex-column align-items-center">
                    <h6 class="">Related Post</h6>
                    <hr class="hr-blog mt-2" />
                  </header>
                  <!-- Blog post-->
                  <div class="col-lg-6 ">
                    <div class="card mb-4">
                      <a href="#!">
                        <img class="card-img-top img-fluid" 
                        src="{% static 'images/cows-green-grass.jpg' %}"
                        alt="..."
                        />
                      </a>
                      <div class="card-body">
                        <div class="small text-muted">January 1, 2021</div>
                        <h2 class="card-title h4">Post Title</h2>
                        <p class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Reiciendis aliquid atque, nulla.
                        </p>
                        <a class="btn readmore" href="#!">Read more →</a>
                      </div>
                    </div>
                  </div>
                  <!-- Blog post-->
                  <div class="col-lg-6">
                    <div class="card mb-4">
                      <a href="#!">
                        <img class="card-img-top img-fluid" 
                        src="{% static 'images/white-flowers.jpg' %}"
                          alt="..."/>
                      </a>
                      <div class="card-body">
                      <div class="small text-muted">January 1, 2021</div>
                      <h2 class="card-title h4">Post Title</h2>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Reiciendis aliquid atque, nulla.
                      </p>
                      <a class="btn readmore" href="#!">Read more →</a>
                      </div>
                    </div>
                  </div>
                  <!-- Blog post-->
                  <div class="col-lg-6">
                    <div class="card mb-4">
                      <a href="#!">
                        <img class="card-img-top img-fluid" 
                        src="{% static 'images/lady-top-mnt.jpg' %}"
                          alt="..."/>
                      </a>
                      <div class="card-body">
                      <div class="small text-muted">January 1, 2021</div>
                      <h2 class="card-title h4">Post Title</h2>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Reiciendis aliquid atque, nulla.
                      </p>
                      <a class="btn readmore" href="#!">Read more →</a>
                      </div>
                    </div>
                  </div>
                   <!-- Blog post-->
                  <div class="col-lg-6">
                    <div class="card mb-4">
                      <a href="#!">
                        <img class="card-img-top img-fluid " 
                        src="{% static 'images/Hnet.com-image.jpg' %}"
                        alt="..."/>
                      </a>
                      <div class="card-body">
                        <div class="small text-muted">January 1, 2021</div>
                        <h2 class="card-title h4">Post Title</h2>
                        <p class="card-text">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Reiciendis aliquid atque, nulla.
                        </p>
                        <a class="btn readmore" href="#!">Read more →</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'blog/pagination.html' %}
              </article>
            </div>
            <!-- Side widgets-->
            {% include 'blog/sidebar.html' %}

          </div>
        </div>
      </section>
    </main>
{% endblock content %}