{% extends 'main.html' %}{% load static %} {% block content %}
<!-- ======= Hero Content Starts ======= -->
    <section id="hero" class="hero-container blog">
      <div class="hero-overlay"></div>
      <img src="{% static 'images/mountain-green.jpg'%}" class="about-header"></img>
      <!-- text content starts -->
      <div class="hero-text-container">
        <p class="fw-lighter blockquotes">
          <span>
            BLOG</span
          >
        </p>
        <a href="#main-content" class="btn-hero-arrow scrollto">
          <!-- <i class='bx bxs-chevrons-down bx-fade-up' style='color:#ffffff' ></i> -->
          <i class="bi bi-arrow-down-short"></i>
          
        </a>
      </div>
      <!-- text content ends -->
    </section>
    <main id="main-content">
      <section>
        <!-- Page content-->
        <div class="container p-5">
          <div class="row">
            <div class="col-lg-8 ">
              <!-- Blog entries-->
              <article class="featured-post mb-2"> 
                <!-- Featured blog post-->
                <header class="banner-heading d-flex flex-column align-items-center">
                  <h6 class="">Featured Post</h6>
                  <hr class="hr-blog mt-2" />
                </header>
                {% for post in featured %}
               
                <div class="card">
                  <a href="{% url 'post' post.id %}">
                    <img class="card-img-top img-fluid" 
                    src="{{post.thumbnail.url}}"
                    alt="..."
                    />
                  </a>
                  <div class="card-body">
                    <small class="text-muted my-2">
                      <i class="far fa-clock fw-bold"></i> {{post.created_at|timesince}}ago 
                      {% for place in post.country.all %}
                          <span class="category mx-2"> | {{place}} </span>
                      {% endfor %}
                    </small>
                  
                      <p class="card-title fw-bold py-2">{{post.title}}</p>
                      <p class="card-text blog-intro">{{post.short_intro|slice:75}}</p>
                    <a class="btn  readmore" href="{% url 'post' post.id %}">Read more →</a>
                  </div>
                </div>
               
               {% endfor %}
              </article>
              <!-- Nested row for non-featured blog posts-->
              <article class="latest mt-4">
                <div class="row ">
                  <header class="banner-heading d-flex flex-column align-items-center">
                    <h6 class="">Related Post</h6>
                    <hr class="hr-blog mt-2" />
                  </header>
                  <!-- Blog post-->
                  {% for post in articles %}
                  <div class="col-lg-6 ">
                    <div class="card mb-4">
                      <a href="#!">
                        <img class="card-img-top img-fluid" 
                        src="{{post.thumbnail.url}}"
                        alt="..."
                        />
                      </a>
                      <div class="card-body">
                        <small class="text-muted my-2">
                          <i class="far fa-clock fw-bold"></i> {{post.created_at|timesince}}ago 
                          {% for place in post.country.all %}
                            <span class="category mx-2"> | {{place}} </span>
                          {% endfor %}
                        </small>
                        <p class="card-title fw-bold py-2">{{post.title}}</p>
                        <p class="card-text blog-intro">
                          {{post.short_intro|slice:75}}
                         
                        </p>
                        <a class="btn readmore" href="{% url 'post' post.id %}">Read more →</a>
                      </div>
                      <!--card footer-->
                      <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views fw-bold">{{post.owner}}</div>
                        <div class="stats"><i class="far fa-comment"></i>{{post.comments.count}}</div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="col-lg-12 mt-5">
                    {% include 'blog/pagination.html' with articles=articles  %}
                  </div>
                </div>
              </article>
            </div>
            
            <!-- Side widgets-->
            {% include 'blog/sidebar.html' with articles=articles country_count=country_count %} 
            

          </div>
        </div>
      </section>
    </main>
{% endblock content %}