{% extends 'main.html' %}{% load static %} {% block content %}
<!-- ======= Hero Content Starts ======= -->
    <section id="hero" class="hero-container blog">
      <div class="hero-overlay"></div>
      <img src="mountain-green.jpg" class="about-header"></img>
      <!-- text content starts -->
      <div class="hero-text-container">
        <p class="fw-lighter blockquotes">
          <span>
            BLOG</span
          >
        </p>
        <a href="#main-content" class="btn-hero-arrow scrollto">
          <!-- <i class='bx bxs-chevrons-down bx-fade-up' style='color:#ffffff' ></i> -->
          <i class="bi bi-arrow-down-short"></i>
          
        </a>
      </div>
      <!-- text content ends -->
    </section>
{% endblock content %}