{% extends 'main.html' %} {% load crispy_forms_tags %}
<!--crispy form -->
{% block content %}

<main id="main-content">
  <section class="mt-5">
    <!-- Page Content -->
    <div class="container p-5">
      <div class="card border-0 shadow">
        <div class="card-body mt-2 p-5">
          <h1 class="fw-bold mb-3">New Post</h1>
          {{ form.media }}
          <form
            method="POST"
            action="{% url 'create_post' %}"
            enctype="multipart/form-data"
          >
            {% csrf_token %}

            <strong class="mb-5">{{form.title|as_crispy_field }}</strong>
            <!---->

            <strong class="fw-bold pb-2"
              >{{form.short_intro|as_crispy_field }}</strong
            >
            <!---->
            <strong class="fw-bold mb-2">{{form.body|as_crispy_field }}</strong>
            <!---->

            <strong class="fw-bold pb-2"
              >{{form.thumbnail|as_crispy_field }}</strong
            >
            <!---->

            <strong class="fw-bold pb-2"
              >{{form.country|as_crispy_field }}</strong
            >
            <!---->

            <strong class="fw-bold pb-2"
              >{{form.is_featured|as_crispy_field }}</strong
            >
            <!---->

            <button class="btn btn-success mt-3" type="submit">Post</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
