{% load static %}
<section id="latest-blog-posts" class="latest-blog-posts">
  <div class="container p-5">
    <header class="banner-heading d-flex flex-column align-items-center">
      <h6 class="">Latest blog post</h6>
      <hr class="hr-blog mt-2" />
    </header>
    <div class="row g-5">
      {% for post in latest %}
      <div class="col-lg-4">
        <div class="card shadow">
          <img
            class="card-img img-fluid"
            src="{{post.thumbnail.url}}"
            alt=""
            width="250"
            height="250"
          />
          <div class="card-body">
            <small class="text-muted my-2">
              <i class="far fa-clock fw-bold"></i> {{post.created_at|timesince}}
              ago {% for place in post.country.all %}
              <span class="category mx-2"> | {{place}} </span>
              {% endfor %}
            </small>
            <p class="card-title fw-bold py-2">{{post.title}}</p>
            <p class="card-text blog-intro">{{post.short_intro|slice:75}}</p>
            <a
              href="{% url 'post' post.id %}"
              class="btn stretched-link mt-auto blog-read-btn readmore"
              ><span>Read More</span><i class="bi bi-arrow-right"></i
            ></a>
          </div>
          <div
            class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0"
          >
            <div class="views fw-bold">{{post.owner}}</div>
            <div class="stats">
              <i class="far fa-eye"></i> 17 <i class="far fa-comment"></i> 5
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="container px-5">
  <hr class="hr-sec" />
</div>
