{% load static %}
<!-- ======= Hero Content Starts ======= -->
<section id="hero" class="hero-container">
  <div class="hero-overlay"></div>
  <video
    src="{% static 'images/header-vid.mp4' %}"
    autoplay
    playsinline
    loop
    muted
  ></video>
  <!-- text content starts -->
  <div class="hero-text-container">
    <p class="fw-lighter blockquotes">
      <span>
        ”A journey of a thousand miles starts with a single step.” – LaoTz</span
      >
    </p>
    <a href="#philo" class="btn-hero-arrow scrollto">
      <i class="bi bi-arrow-down-short"></i>
    </a>
  </div>
  <!-- text content ends -->
</section>
