{% extends 'main.html' %}{% load static %} {% block content %}
<!-- ======= Hero Content Starts ======= -->
{% load crispy_forms_tags %}
<section id="hero" class="hero-container">
  <div class="hero-overlay"></div>
  <video
    src="{% static 'images/header-vid.mp4' %}"
    autoplay
    playsinline
    loop
    muted
  ></video>
  <!-- text content starts -->
  <div class="hero-text-container">
    <p class="fw-lighter blockquotes">
      <span>
        ”A journey of a thousand miles starts with a single step.” – LaoTz</span
      >
    </p>
    <a href="#philo" class="btn-hero-arrow scrollto">
      <i class="bi bi-arrow-down-short"></i>
    </a>
  </div>
  <!-- text content ends -->
</section>
<main id="main-content">
  <!-- travel philosophy -->
  <section id="philo" class="philo-sec">
    <div class="container p-5">
      <div class="row align-items-center gx-5">
        <!-- col 1 -->
        <div class="col-lg-6 col-md-12 mb-3 phil">
          <div class="philo-img-container">
            <img
              src="{% static 'images/ph1.jpg' %}"
              class="shadow img-fluid"
              alt=""
              height="560"
              width="430"
            />
          </div>
        </div>
        <!-- col 2 -->

        <div class="col-lg-6 col-md-12">
          <header class="banner-heading">
            <h6 class="text-left">travel philosophy</h6>
            <hr class="hr-blog mt-2" />
          </header>
          {% for philo in intro %}
          <p class="">{{philo.philo}}</p>

          <div class="philo-title-box text-left mb-3">
            <a href="{% url 'about' %}" type="button" class="btn readmore">
              Read More
            </a>
          </div>

          <!-- icons -->
          <div class="media-box mt-2">
            <ul class="list-inline social-menu">
              <li class="list-inline-item">
                <a href="{{philo.twitter}}" target="_blank" class="social-link"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="{{philo.instagram}}"
                  target="_blank"
                  class="social-link"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>

              <li class="list-inline-item">
                <a href="{{philo.tiktok}}" target="_blank" class="social-link"
                  ><i class="fab fa-tiktok"></i
                ></a>
              </li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Feature Blog Post ======= -->
  {% include 'blog/feature_blog.html' with latest=latest %}
  <!---->
  {% include 'blog/subscribe.html' with form=form %}
</main>
{% endblock content %}
