{% load static %}

<!-- Pagination-->
{% if articles.has_other_pages %}
<nav aria-label="Page navigation ">
  <ul class="pagination pagination-sm d-flex justify-content-center">
    {% if articles.has_previous %}
    <li class="page-item arrow">
      <a
        class="page-link"
        href="?{{query_page}}={{articles.previous_page_number}}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled arrow">
      <span class="page-link">&laquo;</span>
    </li>
    {% endif %}
    <!-- loop throught num of posts-->
    {% for i in articles.paginator.page_range %} {% if articles.number == i %}
    <li class="page-item active" aria-current="page">
      <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?{{query_page}}={{i}}">{{i}}</a>
    </li>
    {% endif %} {% endfor %}
    <!-- display arrow if there is more obj-->
    {% if articles.has_next %}
    <li class="page-item arrow">
      <a
        class="page-link"
        href="?{{query_page}}={{articles.next_page_number}}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled arrow">
      <span class="page-link">&raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- Pagination-->
