{% extends 'main.html' %}{% load static %} {% block content %}
<!--crispy form -->
{% load crispy_forms_tags %}
<section id="hero" class="hero-container blog" class="page-header">
  <!-- <div class="hero-overlay"></div> -->

  <img src="{{articles.thumbnail.url}}" class="img-responsive w-100 thumbnail" alt="..." />
</section>
<main id="main-content">
  <div class="container p-5">
    <!-- message alerts -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"
      {% endif %}>{{ message }}</li>
      <!--content-->
      {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
      <div class="col-lg-8">
        <section>
          <!-- Post content-->

          <!-- Post header-->
          <header
            class="banner-heading text-center d-flex flex-column align-items-center"
          >
            <!-- Post title-->
            <h3 class="">{{articles.title}}</h3>
            <!-- Post meta content-->
            <p class="text-muted fst-italic">{{articles.title}}</p>
            <!-- Post categories-->
            <small class="text-muted my-2">
              <i class="far fa-clock fw-bold"></i>
              {{articles.created_at|timesince}} ago
              <!-- Post title-->
              {% for place in articles.country.all%}
              <span class="category">
                <a class="category" href="#!">| {{place}}</a>
              </span>
              {% endfor %}
              <a href="{% url 'update_post' articles.id %}"
                ><i class="far fa-edit px-2"></i
              ></a>
            </small>
            <hr class="hr-blog mt-2 w-100" />
            <p class="text-muted fs-6">{{articles.short_intro}}</p>
          </header>
          <!--edit-->

          <!-- Post content-->
          <article class="post-detail">
            <div class="post-body">
              <p>{{articles.body|safe}}</p>
            </div>

           
            
          </article>

          <!-- Post Footer -->
          <hr class="hr-blog mt-2 w-100" />
          <!-- User profile -->
          <div class="mb-4 rounded">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-start">
                <div class="position-relative">
                  <img
                    src="{% static 'images/avatar.jpg'%}"
                    width="80"
                    class="rounded-circle"
                  />
                  <span class="position-absolute dots"></span>
                </div>
                <div class="px-3 ms-2 author">
                  <p class="mb-0 text-muted">written by</p>
                  <h6>{{articles.owner}}</h6>
                  <div class="d-flex flex-row">
                    <ul class="social mb-0 list-inline mt-2">
                      <li class="list-inline-item text-muted">
                        <a href="{{articles.owner.tiktok}}" target="_blank" class="social-link"
                          ><i class="fab fa-tiktok"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="{{articles.owner.twitter}}" target="_blank" class="social-link"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="{{articles.owner.instagram}}" target="_blank" class="social-link"
                          ><i class="fab fa-instagram"></i
                        ></a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
              <!-- edit icon -->
              
            </div>
          </div>

          <!-- Comments section-->
          <hr class="hr-blog mt-2 w-100" />

          <section class="mb-5 comments">
            <header class="banner-heading">
              <h6>Leave a comment</h6>
            </header>
            <div>
              <!-- Comment form-->
              <form class="mb-4" method="POST">
                {{ form|crispy}} {% csrf_token %}
                <input
                  class="mt-4 form-control"
                  type="submit"
                  value="Add comment"
                />
              </form>
            </div>
            <div class="card bg-light">
              {% for comment in comments %}
              <div class="card-body">
                <!-- Single comment-->
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-circle"
                      src="{{comment.avatar.url}}"
                      alt="..."
                      width="80"
                    />
                  </div>
                  <div class="ms-3">
                    <div class="fw-bold">{{comment.name}}
                      <span class="text-muted">
                        {{comment.created_on|timesince}}
                      </span>
                    </div>
                    {{comment.content}}
                  </div>
                </div>
                <hr>
              </div>
              {% empty %} No comments yet. {% endfor %}
            </div>
          </section>
        </section>
      </div>
      <!-- Side widgets-->

      {% include 'blog/sidebar.html' with articles=articles %}
      <!--end-row-->
    </div>
    <!--end-row-->
  </div>
</main>
{% endblock content %}
