{% extends 'main.html' %}{% load static %} {% block content %}
<!--crispy form -->
{% load crispy_forms_tags %}
<section id="hero" class="hero-container blog" class="page-header">
  <!-- <div class="hero-overlay"></div> -->

  <img src="{{articles.thumbnail.url}}" class="img-responsive" alt="..." />
</section>
<main id="main-content">
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-8">
        <section>
          <!-- Post content-->

          <!-- Post header-->
          <header
            class="banner-heading text-center d-flex flex-column align-items-center"
          >
            <!-- Post title-->
            <h3 class="">{{articles.title}}</h3>
            <!-- Post meta content-->
            <p class="text-muted fst-italic">{{articles.title}}</p>
            <!-- Post categories-->
            <small class="text-muted my-2">
              <i class="far fa-clock fw-bold"></i>
              {{articles.created_at|timesince}} ago
              <!-- Post title-->
              {% for place in articles.country.all%}
              <span class="category">
                <a class="category" href="#!">| {{place}}</a>
              </span>
              {% endfor %}
            </small>
            <hr class="hr-blog mt-2 w-100" />
          </header>

          <!-- Post content-->
          <article class="post-detail">
            <p>{{articles.body}}</p>
            <p class="fw-bold mb-4">
              Turkey, Istanbul, straddles two continents, Asia and Europe, and
              has a fascinating history. From picture-perfect beaches and
              mountain ranges to trendy cafés where you can eat baklava, there's
              something for everyone.
            </p>
            <p class="">
              The universe is large and old, and the ingredients for life as we
              know it are everywhere, so there's no reason to think that Earth
              would be unique in that regard. Whether of not the life became
              intelligent is a different question, and we'll see if we find
              that.
            </p>
            <p class="">
              If you get asteroids about a kilometer in size, those are large
              enough and carry enough energy into our system to disrupt
              transportation, communication, the food chains, and that can be a
              really bad day on Earth.
            </p>
            <div>
              <h6 class="banner-heading fw-bolder mb-4">Visit Hagia Sophia</h6>
              <figure class="mb-4">
                <img
                  class="img-fluid"
                  src="{% static 'images/turkey.jpg'%}"
                  alt="..."
                />
              </figure>
            </div>

            <p class="mb-4">
              For me, the most fascinating interface is Twitter. I have odd
              cosmic thoughts every day and I realized I could hold them to
              myself or share them with people who might be interested.
            </p>
            <p class="mb-4">
              Venus has a runaway greenhouse effect. I kind of want to know what
              happened there because we're twirling knobs here on Earth without
              knowing the consequences of it. Mars once had running water. It's
              bone dry today. Something bad happened there as well.
            </p>
          </article>

          <!-- Post Footer -->
          <hr class="hr-blog mt-2 w-100" />
          <!-- User profile -->
          <div class="mb-4 rounded">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-start">
                <div class="position-relative">
                  <img
                    src="{% static 'images/avatar.jpg'%}"
                    width="80"
                    class="rounded-circle"
                  />
                  <span class="position-absolute dots"></span>
                </div>
                <div class="px-3 ms-2 author">
                  <p class="mb-0 text-muted">written by</p>
                  <h6>Stacy Walsh</h6>
                  <div class="d-flex flex-row">
                    <ul class="social mb-0 list-inline mt-2">
                      <li class="list-inline-item text-muted">
                        <a href="#" class="social-link"
                          ><i class="fab fa-tiktok"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="social-link"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="social-link"
                          ><i class="fab fa-instagram"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="social-link"
                          ><i class="fab fa-linkedin"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- edit icon -->
              <div class="mt-0 mx-2">
                <!-- verify user -->
                <!--<a href="#"><i class="bx bx-edit-alt"></i></a>-->
                <a href="#"><i class="far fa-edit"></i></a>
              </div>
            </div>
          </div>

          <!-- Comments section-->
          <hr class="hr-blog mt-2 w-100" />

          <section class="mb-5 comments">
            <header class="banner-heading">
              <h6>Leave a comment</h6>
            </header>
            <div>
              <!-- Comment form-->
              <form class="mb-4" method="POST">
                {{ form|crispy}} {% csrf_token %}
                <input
                  class="mt-4 form-control"
                  type="submit"
                  value="Add comment"
                />
              </form>
            </div>
            <div class="card bg-light">
              <div class="card-body">
                <!-- Comment with nested comments-->
                <div class="d-flex mb-4">
                  <!-- Parent comment-->
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-circle"
                      src="{% static 'images/avatar3.jpg'%}"
                      alt="..."
                      width="80"
                    />
                  </div>
                  <div class="ms-3">
                    <div class="fw-bold">Jordan</div>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Quod odio esse ullam quae animi sint maxime quasi vero
                      provident eveniet..
                    </p>
                    <!-- Child comment 1-->
                    <div class="d-flex mt-4">
                      <div class="flex-shrink-0">
                        <img
                          class="rounded-circle"
                          src="{% static 'images/avatar.jpg'%}"
                          alt="..."
                          width="80"
                        />
                      </div>
                      <div class="ms-3">
                        <div class="fw-bold">Stacy</div>
                        Thank you Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                      </div>
                    </div>
                    <!-- Child comment 2-->
                    <div class="d-flex mt-4">
                      <div class="flex-shrink-0">
                        <img
                          class="rounded-circle"
                          src="{% static 'images/avatar3.jpg'%}"
                          alt="..."
                          width="80"
                        />
                      </div>
                      <div class="ms-3">
                        <div class="fw-bold">Jordan</div>
                        No problem. email Doloribus sint velit odit
                        reprehenderit nihil.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single comment-->
                <div class="d-flex">
                  {% for comment in comments %}
                  <div class="flex-shrink-0">
                    <img
                      class="rounded-circle"
                      src="{{comment.avatar.url}}"
                      alt="..."
                      width="80"
                    />
                  </div>
                  <div class="ms-3">
                    <div class="fw-bold">{{comment.name}}</div>
                    {{comment.content}}
                  </div>
                  {% empty %} No comments yet. {% endfor %}
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
      <!-- Side widgets-->

      {% include 'blog/sidebar.html' with articles=articles %}
      <!--end-row-->
    </div>
    <!--end-row-->
  </div>
</main>
{% endblock content %}
