{% extends 'main.html' %} {% load static %}{% block content %}
<section id="hero" class="hero-container"></section>
<main id="main-content" class="mt-5">
  <section class="">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-8 mx-auto pb-3">
          <h5 class="font-weight-light mb-4 font-italic text-white">
            Blog search
          </h5>
          <div class="py-2 px-3 rounded shadow">
            <!-- Underlined search bars -->
            <form class="rounded">
              <div class="row mb-4">
                <div class="form-group col-md-6">
                  <input
                    id="exampleFormControlInput5"
                    type="search"
                    placeholder="What're you searching for?"
                    name="q"
                    class="form-control rounded form-control-underlined"
                    value="{{q}}"
                  />
                </div>
                <div class="form-group col-md-6">
                  <button
                    type="submit"
                    class="btn btn-lg btn-block readmore shadow-sm"
                  >
                    Search
                  </button>
                </div>
              </div>
            </form>
            <!-- End -->
          </div>
        </div>
        <hr />
        <!-- search result -->
        <div class="result">
          {% if articles %} {% for post in articles %}
          <a class="list-group-link" href="{% url 'post' post.id %}">
            <div class="row mt-4">
              <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                <img
                  class="img-responsive"
                  src="{{post.thumbnail.url}}"
                  alt=""
                />
              </div>
              <div class="col-xs-9 col-sm-9 col-md-7 col-lg-6">
                <h6 class="title">{{post.title}}</h6>
                <span class="title"> {{post.short_intro}} </span>
              </div>
            </div>
          </a>
          {% endfor %} {% else %}
          <h4>No results found for '{{q}}'</h4>
          {% endif %}
          <hr />
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
