{% extends 'main.html' %} {% load crispy_forms_tags %}
<!--crispy form -->
{% block content %}
<main id="main-content">
  <section class="mt-5">
    <!-- Page Content -->
    <div class="container mt-5 p-5">
      <div class="card border-0 shadow">
        <div class="card-body mt-2 p-5">
          <h1 class="fw-bold mb-3">New Post</h1>
          {{ form.media }}
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <strong class="mb-5">{{form|crispy }}</strong>
            <!---->

            <button class="btn btn-success mt-3" type="submit">Save</button>
            <button
              type="button"
              class="btn btn-danger mt-3"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Delete
            </button>
          </form>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade focus delete-model"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered bg-dark">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <a
                href="{% url 'delete_post' post.id %}"
                type="button"
                class="btn btn-link btn-Danger"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
