{% extends 'main.html' %} {% load static %} {% block content %}

<!-- Footer-->
<footer class="pt-5">
  <div class="container d-flex flex-column px-5">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h6 class="small pb-2">TinyWanderlust</h6>
        <p class="small text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt.
        </p>
      </div>
      <div class="col-lg-4 align-item-end">
        <h6 class="small pb-2">Quick links</h6>
        <ul class="list-unstyled text-muted small">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Subscribe</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>

    <hr />
    <p class="text-center small text-muted mb-0">
      &copy; Copyrights. All rights reserved.
      <a class="text-primary" href="#">TinyWonderlust.com</a>
    </p>
  </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

{% endblock content %}
