{% load static %}

<!-- Footer-->
<footer class="pt-5">
  <div class="container d-flex flex-column p-5">
    <hr />
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h6 class="small pb-2">TinyWanderlust</h6>
        <p class="small text-muted">
          TinyWanderlust is a travel blog by {{request.user.author}}.
        </p>
        <p class="small text-muted">
          A Travel enthusiast supporting nomad community with inspiring
          adventures and resources. advocating outdoor lifestyle and nature
          connection.
        </p>
      </div>
      <div class="col-lg-4 align-item-end">
        <h6 class="small pb-2">Quick links</h6>
        <ul class="list-unstyled text-muted small">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>

          <li><a href="{% url 'about' %}">About</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'news_letter' %}">Newsletter</a></li>
          {% endif %}
        </ul>
      </div>
      <hr />
    </div>

    <p class="text-center small text-muted pt-4 mb-0">
      &copy; Copyrights. All rights reserved.
      <a class="text" href="{% url 'home' %}">TinyWanderlust.com</a>
    </p>
  </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
