{% load static %}
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Travel blog">
  <meta name="keywords" content="HTML, CSS">
  <meta name="author" content="Saida Hussen">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- bt-css -->

  <!-- Bootstrap core CSS -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
  />

  <!-- fontawesome -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'vendor/font-awesome/css/all.css' %}"
  />

    <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"
    integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN"
    crossorigin="anonymous"
  />
 
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- custom -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

  <title>TinyWanderlust</title>
</head