{% extends 'main.html' %} {% load static %} {% block content %}
<!---->
{% load crispy_forms_tags %}
<main class="main-content mt-5">
  <section class="newsletter">
    <div class="container p-5">
      <div class="row justify-content-center mb-5 pb-3">
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="card">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %} {% for field in form %}
              <label for="">{{field.label}}</label>
              {{field}} {% endfor %}
              <input
                class="btn btn-info btn-block"
                type="submit"
                value="Send Message"
              />
            </form>
          </div>
        </div>
      </div>
      <table class="table mb-0 pb-0 table-borderless table-light">
        <!-- header -->
        <table class="table table-responsive table-borderless table-dark">
          <tr>
            <td class="align-middle">
              <table class="table table-responsive table-borderless table-dark">
                <tr>
                  <td class="align-middle">
                    <table
                      class="table table-responsive container590 table-borderless"
                    >
                      <tr>
                        <td class="align-bottom text-center d-flex flex-column">
                          <a class="" href="">
                            <img
                              class="justify-content-center align-content-end"
                              width="150"
                              src="{%static 'images/logoipsum-logo-5.svg' %}"
                              alt=""
                            />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- end header -->

        <table class="table table-responsive table-borderless table-light">
          <!-- big image section -->
          <tr>
            <td class="align-middle">
              <table class="table table-responsive table-borderless">
                <tr>
                  <td class="section-img align-middle">
                    <a href="#"
                      ><img src="{% static 'images/sakura-trees.jpg' %}" alt=""
                    /></a>
                  </td>
                </tr>

                <tr>
                  <td height="20" style="font-size: 20px; line-height: 20px">
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <td class="text-center table-header banner-heading lh-lg">
                    <div>
                      NEW IN <span class="table-month">FEBUARY</span>
                      <hr class="bg-dark text-center" />
                    </div>
                  </td>
                </tr>

                <tr>
                  <td height="20" style="font-size: 20px; line-height: 20px">
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <td class="align-middle">
                    <table
                      class="container590 align-middle table table-responsive table-borderless"
                    >
                      <tr>
                        <td class="align-middle text-center">
                          <div class="px-5">
                            Love is in the air. Shop our latest AW16 range, and
                            prepare for the damp, cold, British weather.
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td height="25" style="font-size: 25px; line-height: 25px">
                    &nbsp;
                  </td>
                </tr>

                <tr class="align-middle">
                  <td class="">
                    <table
                      class="container590 align-middle table table-responsive table-borderless"
                    >
                      <tr>
                        <td
                          height="10"
                          style="font-size: 10px; line-height: 10px"
                        >
                          &nbsp;
                        </td>
                      </tr>

                      <tr class="align-middle text-center">
                        <td>
                          <div class="">
                            <a href="" class="btn readmore">Read More</a>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- end image section -->

          <!-- contact section -->
          <tr>
            <td
              height="60"
              style="
                border-top: 1px solid #e0e0e0;
                font-size: 60px;
                line-height: 60px;
              "
            >
              &nbsp;
            </td>
          </tr>

          <tr>
            <td class="align-middle">
              <table
                class="container590 table table-responsive table-borderless"
              >
                <tr>
                  <td>
                    <table
                      class="container590 table table-responsive table-borderless"
                    >
                      <tr>
                        <!-- logo -->
                        <td class="align-left p-0">
                          <a href=""
                            ><img
                              src="{%static 'images/logoipsum-logo-5.svg' %}"
                              alt=""
                          /></a>
                        </td>
                      </tr>

                      <tr>
                        <td class="align-left text_color p-0">
                          <div class="fw-bold">
                            Email us: <br />
                            <a href="mailto:">contact@tinywanderlust.com</a>
                          </div>
                        </td>
                        <!-- icon -->
                        <td class="p-0">
                          <a><i class="fab fa-twitter"></i></a>
                        </td>
                        <td class="p-0">
                          <a class=""><i class="fab fa-instagram"></i></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td height="60" style="font-size: 60px; line-height: 60px">
              &nbsp;
            </td>
          </tr>
          <!-- contact section -->

          <!-- footer  -->
          <tr>
            <td height="25" style="font-size: 25px; line-height: 25px">
              &nbsp;
            </td>
          </tr>

          <tr>
            <td class="align-middle bg-black h-100">
              <table
                height="105"
                class="table table-responsive table-borderless"
              >
                <tr>
                  <td>
                    <table
                      class="table table-responsive table-borderless container590"
                    >
                      <tr>
                        <td class="container590">
                          <div style="line-height: 24px">
                            <span class="text-light">TinyWanerlust</span>
                          </div>
                        </td>
                        <td>
                          <a class="text-light" href="{{UnsubscribeURL}}"
                            >UNSUBSCRIBE</a
                          >
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td
              class="bg-black"
              height="25"
              style="font-size: 25px; line-height: 25px"
            >
              &nbsp;
            </td>
          </tr>

          <!-- end footer  -->
        </table>
      </table>
    </div>
  </section>
</main>

{% endblock %} Email marketing newsletter
