{% load static %}
<!-- Bootstrap core JavaScript -->

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js.map' %}"></script>

<script src="{% static 'js/app.js' %}"></script>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
<script>
  UPLOADCARE_PUBLIC_KEY = "606e987c9a9c490ba8fc";
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
