{% load static %}
<!-- Bootstrap core JavaScript -->
{% comment %}
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
{% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
